@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #4f165a;
}

.navbar .links {
    margin-left: auto;
}

.navbar a{
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover{
    color: #4f165a;
    font-weight: bold;
    transform: scale(1.2);
    transition: transform 3.2s ease;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

input {
    padding: 8px;
    margin-top: 12px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* This is the message list */
.message-preview {
    padding: 10px 20px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.message-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.author {
    font-size: 20px;
    color: rgb(117, 62, 117);
    margin-bottom: 8px;
    padding: 12px;
    font-weight: bold;
}

.message-list h2 {
    margin-bottom: 20px;
    padding: 8px;
    display: flex;
    align-self: flex-end;
}

button {
    padding: 8px 16px;
    background-color: #4f165a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message-preview a {
    text-decoration: none;
}

/* message details page */
.message-details div {
    margin: 20px 0;
}

.message-details button {
    background: #deb1e7;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    color: #9c33b1;
    margin-bottom: 30px;
}

.create input, .create textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create button {
    background: #bb67cc;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.create button:hover {
    background: #9c33b1;
    transition: background 0.3s ease;
}

